<div id="wrapper">
  <div id="top-toolbar">
    <button id="close">close</button>
  </div>
  <div id="body">
    <div id="date">
      <div>
        제목
        <input id="title" type="text">
      </div>
      <div>
        시작일
        <input id="startDate" type="datetime-local">
      </div>
      <div>
        종료일
        <input id="endDate" type="datetime-local">
      </div>
      <div>
        종일
        <input id="allDay" type="checkbox">
      </div>
    </div>
  </div>
  <div id="bottom-toolbar">
    <button id="submit">완료</button>
  </div>
</div>