:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#index {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
}

#date {
  display: flex;
  flex-direction: row;

  div {
    width: calc(100% / 7);
  }
}
