<div id="day-layout">
  <div class="day-text-layout">
    <span class="day-text">sunday</span>
  </div>
  <div class="day-text-layout">
    <span class="day-text">monday</span>
  </div>
  <div class="day-text-layout">
    <span class="day-text">tuesday</span>
  </div>
  <div class="day-text-layout">
    <span class="day-text">wendnsday</span>
  </div>
  <div class="day-text-layout">
    <span class="day-text">theraday</span>
  </div>
  <div class="day-text-layout">
    <span class="day-text">friday</span>
  </div>
  <div class="day-text-layout">
    <span class="day-text">thursday</span>
  </div>
</div>
<div id="index"></div>
